Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_drop_r = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/dropout-ratio-2012-2015.csv")
df_dross_enr = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/gross-enrollment-ratio-2013-2016.csv")
df_per_sch_comp = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/percentage-of-schools-with-comps-2013-2016.csv")
df_per_sch_ele = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/percentage-of-schools-with-electricity-2013-2016.csv")
df_per_sch_water = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/percentage-of-schools-with-water-facility-2013-2016.csv")
df_sch_boys_toi = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/schools-with-boys-toilet-2013-2016.csv")
df_sch_girls_toi = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/Indian School Education Statistics/schools-with-girls-toilet-2013-2016.csv")

In [3]:
print("Dropout-ratio:\n")
print(df_drop_r.head(10), '\n')
print("Gross-enrollmenet:\n")
print(df_dross_enr.head(10), '\n')
print("School with Computers:\n")
print(df_per_sch_comp.head(10), '\n')
print("School with Water:\n")
print(df_per_sch_water.head(10), '\n')
print("School with Boys Toilet:\n")
print(df_sch_boys_toi.head(10), '\n')
print("School with Girls Toilet:\n")
print(df_sch_girls_toi.head(10), '\n')

Dropout-ratio:

             State_UT     year Primary_Boys Primary_Girls Primary_Total  \
0       A & N Islands  2012-13         0.83          0.51          0.68
1       A & N Islands  2013-14         1.35          1.06          1.21
2       A & N Islands  2014-15         0.47          0.55          0.51
3      Andhra Pradesh  2012-13          3.3          3.05          3.18
4      Andhra Pradesh  2013-14         4.31          4.39          4.35
5      Andhra Pradesh  2014-15         6.57          6.89          6.72
6  Arunachal  Pradesh  2013-14        11.54         10.22         10.89
7   Arunachal Pradesh  2012-13        15.84         14.44         15.16
8   Arunachal Pradesh  2014-15        11.51         10.09         10.82
9               Assam  2012-13         7.02          5.46          6.24

  Upper Primary_Boys Upper Primary_Girls Upper Primary_Total Secondary _Boys  \
0     Uppe_r_Primary                1.09                1.23            5.57
1                 NR                1.54                0.51            8.36
2               1.44                1.95                1.69           11.47
3               3.21                3.51                3.36           12.21
4               3.46                4.12                3.78           11.95
5               5.09                5.32                 5.2           15.81
6               4.44                6.74                5.59           16.08
7               5.86                9.06                7.47           13.99
8               5.31                8.08                6.71           18.33
9               7.89                6.55                 7.2           25.65

  Secondary _Girls Secondary _Total HrSecondary_Boys HrSecondary_Girls  \
0             5.55             5.56            17.66             10.15
1             5.98              7.2            18.94              12.2
2             8.16             9.87            21.05             12.21
3            13.25            12.72             2.66                NR
4            13.37            12.65            12.65             10.85
5             15.6            15.71               NR                NR
6            12.75            14.49            18.57             15.49
7            11.77            12.93             7.85              2.14
8            15.81            17.11            19.37             17.44
9            27.79            26.77             4.87               4.5

  HrSecondary_Total
0             14.14
1             15.87
2             16.93
3              0.35
4             11.79
5                NR
6             17.07
7              5.11
8             18.42
9              4.69

Gross-enrollmenet:

                    State_UT     Year  Primary_Boys  Primary_Girls  \
0  Andaman & Nicobar Islands  2013-14         95.88          91.97
1             Andhra Pradesh  2013-14         96.62          96.87
2          Arunachal Pradesh  2013-14        129.12         127.77
3                      Assam  2013-14        111.77         115.16
4                      Bihar  2013-14         95.03         101.15
5                 Chandigarh  2013-14         88.42          96.09
6               Chhattisgarh  2013-14        104.06         103.93
7       Dadra & Nagar Haveli  2013-14         89.50          81.89
8                Daman & Diu  2013-14         87.80          89.78
9                      Delhi  2013-14        108.78         112.95

   Primary_Total  Upper_Primary_Boys  Upper_Primary_Girls  \
0          93.93               94.70                88.98
1          96.74               82.81                84.38
2         128.46              112.64               115.27
3         113.43               87.85                98.69
4          97.96               80.60                94.92
5          91.85               99.93               103.02
6         103.99              100.35               101.10
7          85.78              100.76                91.43
8          88.69               84.06                90.61
9         110.67              117.76               129.50

   Upper_Primary_Total  Secondary_Boys  Secondary_Girls  Secondary_Total  \
0                91.83          102.89            97.36           100.16
1                83.57           73.76            76.77            75.20
2               113.94           88.37            84.89            86.65
3                93.13           65.60            77.20            71.21
4                87.24           57.66            62.96            60.08
5               101.27           92.08            92.16            92.11
6               100.72           96.68            99.32            97.99
7                96.22           87.79            79.08            83.66
8                86.97           67.94            82.20            73.88
9               122.91          102.02           102.86           102.40

  Higher_Secondary_Boys Higher_Secondary_Girls Higher_Secondary_Total
0                 105.4                  96.61                 101.28
1                 59.83                  60.83                   60.3
2                 65.16                  65.38                  65.27
3                 31.78                  34.27                  32.94
4                 23.33                  24.17                   23.7
5                  90.5                  92.88                  91.49
6                 58.27                  56.16                  57.23
7                 37.77                  41.99                  39.64
8                 34.37                  64.55                  44.36
9                 98.88                  102.3                 100.42

School with Computers:

                    State_UT     year  Primary_Only  Primary_with_U_Primary  \
0  Andaman & Nicobar Islands  2013-14         30.40                   73.68
1  Andaman & Nicobar Islands  2014-15         30.94                   76.54
2  Andaman & Nicobar Islands  2015-16         28.44                   78.57
3             Andhra Pradesh  2013-14         12.73                   42.72
4             Andhra Pradesh  2014-15         10.29                   44.15
5             Andhra Pradesh  2015-16         11.47                   44.81
6          Arunachal Pradesh  2013-14          4.32                   45.05
7          Arunachal Pradesh  2014-15          4.06                   43.83
8          Arunachal Pradesh  2015-16          4.06                   41.20
9                      Assam  2013-14          1.08                   29.12

   Primary_with_U_Primary_Sec_HrSec  U_Primary_Only  U_Primary_With_Sec_HrSec  \
0                             89.74            0.00                    100.00
1                             92.11          100.00                     94.74
2                             92.50            0.00                     94.74
3                             86.99           45.45                     17.07
4                             88.46           50.00                     62.22
5                             89.47           50.00                     72.41
6                             90.63           46.51                     98.00
7                             95.24           48.78                    100.00
8                             94.03           50.00                     98.11
9                             64.75           18.29                     80.48

   Primary_with_U_Primary_Sec  U_Primary_With_Sec  Sec_Only  Sec_with_HrSec.  \
0                       97.92                0.00      0.00           100.00
1                      100.00                0.00      0.00           100.00
2                      100.00                0.00      0.00           100.00
3                       68.18               73.23     60.00            33.33
4                       68.38               76.59     70.97            66.67
5                       69.92               77.08     65.22            75.00
6                       89.11               75.00      0.00            52.17
7                       89.62               81.58      0.00            62.96
8                       86.16               84.62      0.00            71.88
9                       44.80               56.01     25.89            36.81

   HrSec_Only  All Schools
0        0.00        53.06
1        0.00        57.25
2        0.00        57.00
3       19.32        29.57
4       41.60        28.06
5       61.43        30.59
6      100.00        24.28
7        0.00        24.68
8        0.00        24.36
9       16.93         8.85

School with Water:

                    State/UT     Year  Primary_Only  Primary_with_U_Primary  \
0  Andaman & Nicobar Islands  2013-14         98.17                   98.68
1  Andaman & Nicobar Islands  2014-15         99.55                   98.77
2  Andaman & Nicobar Islands  2015-16        100.00                  100.00
3             Andhra Pradesh  2013-14         86.89                   94.53
4             Andhra Pradesh  2014-15         91.85                   96.07
5             Andhra Pradesh  2015-16         93.89                   97.02
6          Arunachal Pradesh  2013-14         72.32                   89.46
7          Arunachal Pradesh  2014-15         73.34                   89.99
8          Arunachal Pradesh  2015-16         73.85                   90.13
9                      Assam  2013-14         78.32                   91.18

   Primary_with_U_Primary_Sec_HrSec  U_Primary_Only  U_Primary_With_Sec_HrSec  \
0                            100.00            0.00                    100.00
1                            100.00          100.00                    100.00
2                            100.00            0.00                    100.00
3                             99.66           90.91                     87.26
4                            100.00          100.00                     90.00
5                            100.00          100.00                     91.95
6                            100.00           95.35                     94.00
7                            100.00           97.56                     89.80
8                            100.00           96.00                     96.23
9                             95.90           79.55                     97.01

   Primary_with_U_Primary_Sec  U_Primary_With_Sec  Sec_Only  Sec_with_HrSec.  \
0                      100.00                0.00       0.0           100.00
1                      100.00                0.00       0.0           100.00
2                      100.00                0.00       0.0           100.00
3                       98.84               96.02      97.5           100.00
4                       99.56               97.48     100.0           100.00
5                       99.66               98.13     100.0           100.00
6                       95.54              100.00       0.0           100.00
7                       95.28               94.74       0.0            88.89
8                       97.77               97.44       0.0            93.75
9                       93.25               93.46      88.3            88.60

   HrSec_Only  All Schools
0        0.00        98.69
1        0.00        99.52
2        0.00       100.00
3       97.52        90.35
4       98.37        93.74
5       98.53        95.37
6      100.00        79.79
7        0.00        80.64
8      100.00        81.47
9       96.22        80.30

School with Boys Toilet:

                    State_UT     year  Primary_Only  Primary_with_U_Primary  \
0  Andaman & Nicobar Islands  2013-14         91.58                   97.37
1  Andaman & Nicobar Islands  2014-15        100.00                  100.00
2  Andaman & Nicobar Islands  2015-16        100.00                  100.00
3             Andhra Pradesh  2013-14         53.03                   62.58
4             Andhra Pradesh  2014-15         57.91                   76.51
5             Andhra Pradesh  2015-16         99.58                   99.88
6          Arunachal Pradesh  2013-14         38.24                   61.17
7          Arunachal Pradesh  2014-15         94.13                   98.59
8          Arunachal Pradesh  2015-16         93.55                   98.83
9                      Assam  2013-14         60.81                   69.66

   Primary_with_U_Primary_Sec_HrSec  U_Primary_Only  U_Primary_With_Sec_HrSec  \
0                            100.00            0.00                    100.00
1                            100.00          100.00                    100.00
2                            100.00            0.00                    100.00
3                             82.05           45.45                     64.11
4                             96.00           75.00                     93.33
5                             98.96          100.00                    100.00
6                             89.06            0.00                     70.00
7                            100.00          100.00                    100.00
8                             98.51          100.00                     96.23
9                             87.50           51.47                     72.69

   Primary_with_U_Primary_Sec  U_Primary_With_Sec  Sec_Only  Sec_with_HrSec.  \
0                      100.00                0.00      0.00           100.00
1                      100.00                0.00      0.00           100.00
2                      100.00                0.00      0.00           100.00
3                       76.24               60.63     59.26            85.71
4                       91.43               77.99     80.65            60.00
5                       99.53               99.91    100.00           100.00
6                       82.32               95.45      0.00             0.00
7                       99.52               96.43      0.00           100.00
8                       99.55               92.86      0.00           100.00
9                       82.42               67.94      0.00             0.00

   HrSec_Only  All Schools
0        0.00        94.52
1        0.00       100.00
2        0.00       100.00
3       73.44        56.88
4       86.54        65.34
5      100.00        99.69
6        0.00        48.73
7        0.00        95.97
8      100.00        95.65
9        0.00        60.17

School with Girls Toilet:

                    State_UT     year  Primary_Only  Primary_with_U_Primary  \
0                  All India  2013-14         88.68                   95.98
1                  All India  2014-15         91.21                   96.92
2                  All India  2015-16         96.95                   99.03
3  Andaman & Nicobar Islands  2013-14         89.74                   97.37
4  Andaman & Nicobar Islands  2014-15        100.00                  100.00
5  Andaman & Nicobar Islands  2015-16        100.00                  100.00
6             Andhra Pradesh  2013-14         76.16                   89.46
7             Andhra Pradesh  2014-15         97.79                   98.81
8             Andhra Pradesh  2015-16         99.60                   99.89
9          Arunachal Pradesh  2013-14         67.77                   88.88

   Primary_with_U_Primary_Sec_HrSec  U_Primary_Only  U_Primary_With_Sec_HrSec  \
0                             98.81           91.39                     98.25
1                             99.48           91.39                     99.23
2                             99.72           96.32                     99.60
3                            100.00            0.00                    100.00
4                            100.00          100.00                    100.00
5                            100.00            0.00                    100.00
6                             97.20           81.82                     68.68
7                            100.00          100.00                     99.44
8                            100.00          100.00                    100.00
9                            100.00          100.00                     98.00

   Primary_with_U_Primary_Sec  U_Primary_With_Sec  Sec_Only  Sec_with_HrSec.  \
0                       97.33               94.40     99.06            98.36
1                       98.19               96.61     90.26            94.05
2                       99.31               98.82     95.18            98.31
3                      100.00                0.00      0.00           100.00
4                      100.00                0.00      0.00           100.00
5                      100.00                0.00      0.00           100.00
6                       90.68               92.09     85.19            71.43
7                       99.57               99.03     96.77           100.00
8                       99.92               99.92    100.00           100.00
9                       97.52              100.00      0.00             0.00

   HrSec_Only  All Schools
0       76.14        91.23
1       90.94        93.08
2       96.22        97.52
3        0.00        93.44
4        0.00       100.00
5        0.00       100.00
6       75.47        81.31
7       94.73        98.07
8      100.00        99.72
9        0.00        76.90

In [4]:
df_drop_r.isnull().sum()

State_UT               0
year                   0
Primary_Boys           0
Primary_Girls          0
Primary_Total          0
Upper Primary_Boys     0
Upper Primary_Girls    0
Upper Primary_Total    0
Secondary _Boys        0
Secondary _Girls       0
Secondary _Total       0
HrSecondary_Boys       0
HrSecondary_Girls      0
HrSecondary_Total      0
dtype: int64

In [5]:
def basic_info(data):
    categorical = []
    numerical = []
    print("Size = ", data.size)
    print("Shape = ", data.shape)
    data.info()
    for i in data.columns:
        if data[i].dtype == object:
            categorical.append(i)
        else:
            numerical.append(i)
    return categorical, numerical

In [6]:
basic_info(df_drop_r)

Size =  1540
Shape =  (110, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State_UT             110 non-null    object
 1   year                 110 non-null    object
 2   Primary_Boys         110 non-null    object
 3   Primary_Girls        110 non-null    object
 4   Primary_Total        110 non-null    object
 5   Upper Primary_Boys   110 non-null    object
 6   Upper Primary_Girls  110 non-null    object
 7   Upper Primary_Total  110 non-null    object
 8   Secondary _Boys      110 non-null    object
 9   Secondary _Girls     110 non-null    object
 10  Secondary _Total     110 non-null    object
 11  HrSecondary_Boys     110 non-null    object
 12  HrSecondary_Girls    110 non-null    object
 13  HrSecondary_Total    110 non-null    object
dtypes: object(14)
memory usage: 12.2+ KB

(['State_UT',
  'year',
  'Primary_Boys',
  'Primary_Girls',
  'Primary_Total',
  'Upper Primary_Boys',
  'Upper Primary_Girls',
  'Upper Primary_Total',
  'Secondary _Boys',
  'Secondary _Girls',
  'Secondary _Total',
  'HrSecondary_Boys',
  'HrSecondary_Girls',
  'HrSecondary_Total'],
 [])

In [7]:
d = {'NR': np.nan, '@': np.nan, 'Uppe_r_Primary': np.nan}

In [8]:
df_drop_r = df_drop_r.replace(d)

In [10]:
df_drop_r[~['State_UT', 'year']] = df_drop_r[~['State_UT', 'year']].apply(pd.to_numeric)

TypeError: bad operand type for unary ~: 'list'

In [ ]:
basic_info(df_drop_r)