# TF-IDF
creates document-term matrix
columns are individual unique words
cells contian a weight which signifies how important a word s for an ndividual text message

# Reading raw text

In [1]:
import pandas as pd
import re
import string
import nltk

In [2]:
stopwords= nltk.corpus.stopwords.words('english')
ps=nltk.PorterStemmer()

data = pd.read_csv("D:/Spyder/Data-Envelopment-Analysis-Excel/Data/NLTK/SMSSpamCollection", sep='\t', header=None)
data.columns=['label','msg']
data.head()

  label                                                msg
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Text Cleaning

In [4]:
def clean_text(txt):
    txt = "".join([c for c in txt if c not in string.punctuation])
    tokens = re.split("\W+",txt)
    txt = [ps.stem(word) for word in tokens if word not in stopwords]
    return txt
data['msg_clean']=data['msg'].apply(lambda x: clean_text(x))
data.head()

,label,msg,msg_clean
0,ham,"Go until jurong point, crazy.. Available only ...","[Go, jurong, point, crazi, avail, bugi, n, gre..."
1,ham,Ok lar... Joking wif u oni...,"[Ok, lar, joke, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entri, 2, wkli, comp, win, FA, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[U, dun, say, earli, hor, U, c, alreadi, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, I, dont, think, goe, usf, live, around, ..."

# TFIDF Vectorizer

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect= TfidfVectorizer()
corpus=['This is a sentence is', 'This is another sentence', 'third document is here']

X = tfidf_vect.fit(corpus)
print(X.vocabulary_)
print(tfidf_vect.get_feature_names())

Y=tfidf_vect.transform(corpus)
print(Y.shape)
print(Y)
print(Y.toarray())

df=pd.DataFrame(Y.toarray(), columns=tfidf_vect.get_feature_names())
print(df)

{'this': 6, 'is': 3, 'sentence': 4, 'another': 0, 'third': 5, 'document': 1, 'here': 2}
['another', 'document', 'here', 'is', 'sentence', 'third', 'this']
(3, 7)
  (0, 6)	0.4760629392767929
  (0, 4)	0.4760629392767929
  (0, 3)	0.7394106813498714
  (1, 6)	0.4804583972923858
  (1, 4)	0.4804583972923858
  (1, 3)	0.3731188059313277
  (1, 0)	0.6317450542765208
  (2, 5)	0.546454011634009
  (2, 3)	0.3227445421804912
  (2, 2)	0.546454011634009
  (2, 1)	0.546454011634009
[[0.         0.         0.         0.73941068 0.47606294 0.
  0.47606294]
 [0.63174505 0.         0.         0.37311881 0.4804584  0.
  0.4804584 ]
 [0.         0.54645401 0.54645401 0.32274454 0.         0.54645401
  0.        ]]
    another  document      here        is  sentence     third      this
0  0.000000  0.000000  0.000000  0.739411  0.476063  0.000000  0.476063
1  0.631745  0.000000  0.000000  0.373119  0.480458  0.000000  0.480458
2  0.000000  0.546454  0.546454  0.322745  0.000000  0.546454  0.000000

In [6]:
#doing on the small scale
data_sample=data[0:10]
tfidf2=TfidfVectorizer(analyzer=clean_text)

X=tfidf2.fit_transform(data_sample['msg'])
print(X.shape)

(10, 131)

In [7]:
df=pd.DataFrame(X.toarray(), columns=tfidf2.get_feature_names())
df.head(10)

,08002986030,08452810075over18,09061701461,11,12,150,2,2005,21st,3,...,vettam,wat,week,wif,win,winner,wkli,word,world,xxx
0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.25,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.25,0.000000
1,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.408248,0.000000,0.00000,0.000000,0.000000,0.00,0.000000
2,0.000000,0.193446,0.00000,0.000000,0.00000,0.000000,0.193446,0.193446,0.193446,0.000000,...,0.000000,0.00,0.000000,0.000000,0.193446,0.00000,0.193446,0.000000,0.00,0.000000
3,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000
4,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000
5,0.000000,0.000000,0.00000,0.000000,0.00000,0.231109,0.000000,0.000000,0.000000,0.231109,...,0.000000,0.00,0.231109,0.000000,0.000000,0.00000,0.000000,0.231109,0.00,0.231109
6,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000
7,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.219673,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000
8,0.000000,0.000000,0.21594,0.000000,0.21594,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,0.000000,0.21594,0.000000,0.000000,0.00,0.000000
9,0.187859,0.000000,0.00000,0.187859,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00,0.000000