In [1]:
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
l1=[4,6,7,2,5]
l2=[3,2,1,7,6]
l3=[5,8,2,2,2]

In [3]:
stats.f_oneway(l1,l2,l3)

F_onewayResult(statistic=0.28409090909090906, pvalue=0.7576222966580926)

In [4]:
import os

In [5]:
os.chdir("D:\Spyder\Data-Envelopment-Analysis-Excel\Data")

In [7]:
dataone=pd.read_excel("oneway - Copy.xlsx")

In [8]:
dataone

   Canteen1  Canteen2  Canteen3
0         4         3         8
1         6         2         5
2         7         1         2
3         2         7         2
4         5         6         2

In [10]:
data_new=pd.melt(dataone.reset_index(), id_vars=["index"], value_vars=["Canteen1","Canteen2","Canteen3"])
data_new.columns=["index","treatments","value"]

In [11]:
data_new

    index treatments  value
0       0   Canteen1      4
1       1   Canteen1      6
2       2   Canteen1      7
3       3   Canteen1      2
4       4   Canteen1      5
5       0   Canteen2      3
6       1   Canteen2      2
7       2   Canteen2      1
8       3   Canteen2      7
9       4   Canteen2      6
10      0   Canteen3      8
11      1   Canteen3      5
12      2   Canteen3      2
13      3   Canteen3      2
14      4   Canteen3      2

In [14]:
import math
import scipy
from statsmodels.formula.api import ols

In [16]:
model=ols("value ~ C(treatments)", data=data_new).fit()

In [18]:
import statsmodels.api as sm

In [19]:
anova_table=sm.stats.anova_lm(model, typ=1)

In [20]:
anova_table

                 df     sum_sq   mean_sq         F    PR(>F)
C(treatments)   2.0   3.333333  1.666667  0.284091  0.757622
Residual       12.0  70.400000  5.866667       NaN       NaN