In [1]:
from scipy import stats
import numpy as np
import pandas as pd
import math
import scipy
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [2]:
datas=pd.read_excel("Salesman.xlsx")

In [3]:
datas

   Salesman  Schedule1  Schedule2  Schedule3
0         1         75         76         78
1         2         74         74         74
2         3         70         71         75
3         4         73         72         77
4         5         76         73         76
5         6         73         73         73

In [4]:
datanew=pd.melt(datas.reset_index(),id_vars=["Salesman"],value_vars=["Schedule1","Schedule2","Schedule3"])
datanew.columns=["blocks","treatments","value"]

In [5]:
datanew

    blocks treatments  value
0        1  Schedule1     75
1        2  Schedule1     74
2        3  Schedule1     70
3        4  Schedule1     73
4        5  Schedule1     76
5        6  Schedule1     73
6        1  Schedule2     76
7        2  Schedule2     74
8        3  Schedule2     71
9        4  Schedule2     72
10       5  Schedule2     73
11       6  Schedule2     73
12       1  Schedule3     78
13       2  Schedule3     74
14       3  Schedule3     75
15       4  Schedule3     77
16       5  Schedule3     76
17       6  Schedule3     73

In [6]:
model=ols("value ~ C(treatments)", data=datanew).fit()

In [7]:
anova_tabel=sm.stats.anova_lm(model,typ=1)

In [8]:
anova_tabel #FOR MSE see always Residual

                 df     sum_sq   mean_sq         F    PR(>F)
C(treatments)   2.0  19.111111  9.555556  2.662539  0.102434
Residual       15.0  53.833333  3.588889       NaN       NaN

In [9]:
model.summary()

C:\Users\SHIVLEON\Anaconda3\lib\site-packages\scipy\stats\stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.262
Model:                            OLS   Adj. R-squared:                  0.164
Method:                 Least Squares   F-statistic:                     2.663
Date:                Wed, 18 Mar 2020   Prob (F-statistic):              0.102
Time:                        21:34:02   Log-Likelihood:                -35.401
No. Observations:                  18   AIC:                             76.80
Df Residuals:                      15   BIC:                             79.47
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     73.5000      0.773     95.035      0.000      71.852      75.148
C(treatments)[T.Schedule2]    -0.3333      1.094     -0.305      0.765      -2.665       1.998
C(treatments)[T.Schedule3]     2.0000      1.094      1.829      0.087      -0.331       4.331
==============================================================================
Omnibus:                        0.223   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.894   Jarque-Bera (JB):                0.413
Skew:                          -0.134   Prob(JB):                        0.813
Kurtosis:                       2.308   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

scipy.stats.f.ppf(1-0.01,dfn=2,dfd=15)

In [ ]:
scipy.stats.f.ppf(1-0.01,dfn=2,dfd=15)

In [ ]:
scipy.stats.f.ppf(1-0.05,dfn=2,dfd=15)

In [ ]:
model=ols("value ~ C(blocks)+ C(treatments)", data=datanew).fit()
anova_tabel=sm.stats.anova_lm(model,typ=1)
anova_tabel #For MSE look Residual

In [ ]:
datam=pd.read_excel("miles.xlsx")

In [ ]:
datam

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(datam["miles"],datam["petrol"])

In [ ]:
import statsmodels.api as s

In [ ]:
m=datam["miles"]
p=datam["petrol"]
p=s.add_constant(p)
model1=sm.OLS(m,p)
result=model1.fit()
result.summary()

In [ ]:
cov_mat=np.stack((datam["petrol"],datam["miles"]),axis=1)

In [ ]:
cov_mat

In [ ]:
np.cov(cov_mat)

In [ ]:
sum(np.cov(cov_mat))

In [ ]:
import statistics
statistics.variance(datam["petrol"])